* {
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
  margin: 0;
  padding: 0;
}

html,
body,
.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("assets/dots.png");
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  background-color: white;
  border: 4px solid black;
}

.logo-name {
  color: black;
  font-weight: 300;
  font-size: 55px;
  font-family: Sacramento;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cc2a7d;
  border: 2px solid black;
  width: 100%;
  padding: 40px;
}

.title {
  font-size: 30px;
  padding: 40px;
  color: black;
}

.text {
  font-size: 20px;
  padding: 40px;
  color: black;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  color: black;
}
