* {
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
  margin: 0;
  padding: 0;
}

html,
body,
.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("assets/dots.png");
  background-size: cover;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  padding: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  background-color: white;
  border: 4px solid black;
}

.logo-name {
  color: black;
  font-weight: 300;
  font-size: 55px;
  font-family: Sacramento;
}

.menu-container {
  display: flex;
  padding: 40px;
}

.btn-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 40px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  font-size: 18px;
  letter-spacing: 2px;
  color: black;
  background: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 15px;
  color: white;
  background-color: #ed3b3b;
  letter-spacing: 2px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ed3b3b;
  border: 4px solid black;
  width: 100%;
  padding: 40px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e2250;
  border: 4px solid black;
  width: 100%;
  padding: 40px;
  overflow: scroll;
}

.sketchnotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ef738b;
  border: 4px solid black;
  width: 100%;
  padding: 40px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cc2a7d;
  border: 4px solid black;
  width: 100%;
  padding: 40px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.btn {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
}

.me {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 2px solid white;
  object-fit: cover;
  object-position: center;
  margin: 10px;
}

.title {
  font-size: 30px;
  padding: 40px;
  color: white;
  letter-spacing: 2px;
}

.text {
  font-size: 20px;
  padding: 40px;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
}

.projects {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.project-link {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  color: white;
  cursor: pointer;
}
